<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Memory Checker</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="container">
    <div class="C-container">
      <h1>C:</h1>
      <div class="C-info"> <span class="used"></span> GB / <span class="total"></span> GB used  <br> <span class="available"></span> GB available</div>
      <div class="bar-container">
        <div class="bar">
          <p></p>
        </div>
      </div>
    </div>
    <div class="E-container">
      <h1>E:</h1>
      <div class="E-info"><span class="used"></span> GB / <span class="total"></span> GB used  <br> <span class="available"></span> GB available</div>
      <div class="bar-container">
        <div class="bar">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <script src="./script/manage-bars.js"></script>
  <script src="./script/load-data.js"></script>
</body>
</html>