<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Memory Checker</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="container">
    <div class="C-container">
      <h1>C:</h1>
      <div class="C-info">174.4GB / 223.0 GB used  <br> 48.5 GB available</div>
      <div class="bar-container">
        <div class="bar">
          <p>(78.2%)</p>
        </div>
      </div>
    </div>
    <div class="E-container">
      <h1>E:</h1>
      <div class="E-info">E: 218.6 GB / 465.7 GB used  <br> 247.1 GB available</div>
      <div class="bar-container">
        <div class="bar">
          <p>(46.9%)</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>