* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 994px;
  height: 626px;
  background:linear-gradient(to bottom, blue, rgb(193, 193, 193));
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  border-radius: 50px;
}

.top-info {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
}

.current-weather-container {
  position: absolute;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  top: 20px;
  z-index: 100;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 0, 200));
  border: 1px solid gray;
}

.current-weather {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-degree {
  font-size: 40px;
  transform: translateY(-7%);
}

.current-state {
  position: absolute;
  bottom: 15px;
}

.city-header {
  white-space:nowrap;
  height: 100%;
}

.time-header {
  white-space:nowrap;
  height: 100%;
}

.hour-day-container {
  position: absolute;
  top: 17%;
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hour-container {
  width: 100%;
  height: 45%;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid rgb(109, 123, 255);
}


.hour-degree-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66%;
  height: 100%;
  background-color: rgba(0, 0, 120, 0.5);
  border-right: 1px solid rgb(109, 123, 255);
  text-align: center;
}

.hour {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(109, 123, 255);
  font-size: 30px;
}

.degree-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  text-align: center;
}


.hourly-icon-container {
  width: 25%;
  position: absolute;
  left: 35%;
  top: 0px;
}

.hourly-icon {
  width: 100%;
}

.degree, .hour-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.degree {
  font-size: 30px;
  flex: 3;
  margin-top: 18px;
}

.hour-state {
  flex: 1;
}


.day-container {
  width: 100%;
  height: 45%;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.day-degree-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66%;
  height: 100%;
  background-color: rgba(0, 0, 120, 0.5);
  border-right: 1px solid rgb(109, 123, 255);
  text-align: center;
}

.day {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(109, 123, 255);
  font-size: 30px;
  flex-direction: column;
}

.date {
  font-size: 20px;
}

.day-degree {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 7px;
}

.day-top {
  border-bottom: 1px solid rgb(99, 99, 199);
  padding: 5px;
  width: 50%;
  font-size: 25px;
}

.day-low {
  padding: 5px;
  width: 50%;
  font-size: 25px;
}

.current-icon-container {
  width: 30px;
  position: absolute;
  top: 10px;
}

.current-icon-container img{
  width: 100%;
}






